#production:hover~#line {
  margin-left: 33.3%;
}

#done:hover~#line {
  margin-left: 66.6%;
}

#line {
  position: fixed;
  bottom: 0;
  height: .25rem;
  width: 33.3%;
  margin: 0;
  background: #fff;
  border: none;
  transition: .3s ease-in-out;
}