@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slntwght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Fredoka";
  src: url("./assets/fonts/FredokaOne-Regular.ttf") format("truetype");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.orange.DEFAULT');
}

*::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: theme('colors.orange.200');
}