@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slntwght.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum-Bold";
  src: url("./assets/fonts/NanumMyeongjo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum-ExtraBold";
  src: url("./assets/fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum-Regular";
  src: url("./assets/fonts/NanumMyeongjo-Regular.ttf") format("truetype");
}